<!-- ko with: home -->
<div class="jumbotron">
    <h1>Кулинария</h1>
    <p class="lead">Oh la la. It's good!</p>
    <table class="table">
        @* Confectionery *@
        <tr>
            <td>
                <p><a class="btn btn-primary btn-lg" href="Confectionery">Кондитерские изделия &raquo;</a></p>
            </td>
            <td>
                <p><a class="btn btn-primary btn-lg" href="ConfectioneryCategory">Категории изделий &raquo;</a></p>
            </td>
        </tr>
        <tr><td></td><td></td></tr>
        @* Orders *@
        <tr>
            <td>
                <p><a class="btn btn-primary btn-lg" href="OrderDetails">Описания заказов &raquo;</a></p>
            </td>
            <td>
                <p><a class="btn btn-primary btn-lg" href="Order">Заказы &raquo;</a></p>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <p><a class="btn btn-primary btn-lg" href="OrderTheme">Темы заказов &raquo;</a></p>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <p><a class="btn btn-primary btn-lg" href="Client">Клиенты &raquo;</a></p>
            </td>
        </tr>
        <tr><td></td><td></td></tr>
        @* Employees *@
        <tr>
            <td>
                <p><a class="btn btn-primary btn-lg" href="employee">Сотрудники &raquo;</a></p>
            </td>
            <td>
                <p><a class="btn btn-primary btn-lg" href="person">Физические лица &raquo;</a></p>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <p><a class="btn btn-primary btn-lg" href="position">Должности &raquo;</a></p>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <p><a class="btn btn-primary btn-lg" href="rating">Рейтинги &raquo;</a></p>
            </td>
        </tr>
        <tr><td></td><td></td></tr>
    </table>
</div>
<div class="row">
</div>

<!-- /ko -->
